In [1]:
import mysql.connector
from tkinter import messagebox

# a,s,d,f,g,h,j,k,l,q,w,e,r,t,y,u,i
def Save_Data(B2,C2,D2,E2,F2,G2,H2,I2,J2,K2,L2,M2,N2,O2,P2,Q2,R2):
    try:
        mydb = mysql.connector.connect(host= 'localhost', user = 'root',password='1236')#database = 'heart',use_pure=True)
        mycursor =mydb.cursor()
        
        messagebox.showinfo('registe','successfully ')

    except:
        messagebox.showinfo('report','H')
    
    
    try:
        command = 'create database Heart_Data'
        mycursor.execute(command)
        
        command = 'use Heart_Data'
        mycursor.execute(command)
        
        command = 'create table data(user int auto_increment key not null, Name varchar(50), Date varchar(100),DOB varchar(100),age varchar(100),sex varchar(100),Cp varchar(100),trestbps varchar(100),chol varchar(100),fbs varchar(100),restecg varchar(100), thalach varchar(100),exang varchar(100), oldpeak varchar(100), slope varchar(100),ca varchar(100), thal varchar(100), result varchar(100))'
        mycursor.execute(command)
        
        command = 'insert into data(Name,Date,DOB,age,sex,Cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,result) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
        mycursor.execute(command,(B2,C2,D2,E2,F2,G2,H2,I2,J2,K2,L2,M2,N2,O2,P2,Q2,R2))
        mydb.commit()
        mydb.close()
        messagebox.showinfo('registe','HEART DISEASE')


    except:
        mycursor.execute('use heart')
        mydb = mysql.connector.connect(host= 'localhost', user = 'root',password='1236',database = 'heart_data')
        mycursor = mydb.cursor()
         
        command = 'insert into data(Name,Date,DOB,age,sex,Cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,result) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
        mycursor.execute(command,(B2,C2,D2,E2,F2,G2,H2,I2,J2,K2,L2,M2,N2,O2,P2,Q2,R2))
        mydb.commit()
        mydb.close()
        messagebox.showinfo('registe','HEART DISEASE')
               
        
# 'a','0/08/2020','1973','44','1','1','233','233','1','1','233','0','2','1','0','1','1'
        
# Save_Data('a','0/08/2020','1973','44','1','1','233','233','1','1','233','0','2','1','0','1','1')

yes

DatabaseError: 1007 (HY000): Can't create database 'heart_data'; database exists